@use '../base';



.tableWrapper {
  width: 80%;
  position: relative;
  .history{

    font-family: base.$primaryFont;
    hr {
      border-top: 1px solid base.$black;
    }
    .wrapper{
      margin: 10px 0;
      span{
        margin-left: 6%;
      }
      .add{
        cursor: pointer;
        margin-right:100px ;
        img{
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }

      @include base.flexRow(center,space-between)
    }

  }

  .tableScroll {
    overflow: scroll ;
    max-width: 900px;
    max-height: 280px;
    table{
      table-layout: auto;
      width: 100%;

      td,th{
        padding: 6px;
        text-align: start;
      }
      th {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        position: sticky;
        top: 0;
        background-color: base.$gold;
        color: white;
      }

      td {
        border-bottom: 1px solid;
        border-right: 1px solid;
        img{
          display: inline-block;
          width: 20px;
          height: 20px;
          margin: 0 7px;
          cursor: pointer;
        }
      }

      th:first-child,
      td:first-child {
        border-left: 1px solid black;
      }
      border-collapse: separate;
      border-spacing: 0;
    }
  }
}