@use '../components/base';

.dashLayoutContainer {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: url("../images/4188954.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include base.flexRow(center,center);
  .dashContainer{
    margin-top: 5%;
    border-radius: 10px;
    width: 90%;
    min-height: 85%;
    background-color: base.$white;
    @include base.flexColumn(center,center);
  }

}
